/*   Home Page */
body {
    justify-content: center;
    background-color: antiquewhite;

}

.gamecontainer {
    justify-content: center;
}


.home header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 50px
}

.grid-container #curry {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 250px;
    grid-template-rows: 100px;
}

.grid-item img {
    display: flex;
    position: absolute;
    object-fit: cover;
    background-position: center;

}

.grid-item {
    position: absolute;
    width: 200px;
    height: 100px;
    border: 3px solid black;
}


.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.flexbox-item {
    width: 200px;
    height: 100px;
    border: 3px solid black;
    background-color: aliceblue;
}


.centertext {
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 10px;

}

.home h1 {
    text-align: center;
    font-size: 100px;
}

.home nav {
    justify-content: space-evenly;

}

.home ul {
    text-align: center;
    justify-content: space-between;

}


.home button {
    text-align: center;
    font-size: 30px;

}

.recipes {
    text-align: center;
}


/*nav ul li .navbar{
    position: sticky;
    margin-top: 0;
}*/

.page {
    width: 98vw;
    height: 75vh;
    border: 1px solid beige;
}

nav ul li {
    display: inline;
}

#page1 {
    background-color: antiquewhite;
}

#page2 {
    background-color: bisque;
}

#page3 {
    background-color: blanchedalmond;
}



/*    Recipes page    */
.recipes div {

    justify-content: space-evenly;
}


/*CSS for responsive menu*/
#hamIcon {
    display: none;
}

@media screen and (max-width:800px) {
    nav ul li {

        display: block;
        justify-content: left;
        align-items: flex-start;
    }

    /*make a menu items vertical*/
    #hamIcon {
        display: block;
    }

    /* unhide menu icon */
    nav ul {
        display: none;
    }

    /*hide the menu item list*/
}

.menuhide {
    /* to add and remove classes in menu*/
    display: block;
}
#game{
    display: flex;
    position:relative;
    flex-wrap: wrap;
    justify-content: center;
}

#page3 button{

width: 100px;
height: 50px;
}



/* responsive recipe page */
@media screen and (max-width:800px) {
    .grid-container {
        display: flex;
        position: relative;
        flex-flow: column;

    }

}

/* responsive Game */
@media screen and (max-width:800px) {
    #board{
        display: flex;
        width: fit-content;
        justify-content: center;
    }
}