
/*Create font*/
@font-face
{
    font-family: 'Poppins';
    src: url("fonts/Poppins-Regular.ttf") format('truetype');
}

@keyframes slide-next {
    from {
        translate: -100vw 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes slide-prev {
    from {
        translate: 100vw 0;
    }

    to {
        translate: 0 0;
    }

}

*
{
    margin:0;
    padding:0;
    transition:0.3ms;
    /* overflow-x:hidden; */
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Poppins';
    /* overflow-x:hidden; */
}

audio
{
    display:none;
}
.mobile
{
    display:none;
}

#menu-nav
{
    position:sticky;
    top:0;
    z-index: 1; /*Make it on top of all other elements*/
    display:flex;
    flex-direction:column;
    height:15vh;
}

.icon
{
    background-color: black;
    display:flex;
    justify-content: center;
    height: 60%;
    padding-left: 1vw;
}

.icon img
{
    max-height: 50%;
    align-self: center;
}

.icon b
{
    color: white;
    align-self: center;
    font-size:2vh;
}


.nav-titles
{
    display:flex;
    height:40%;
    background-color: #14141c;
    justify-content: center;
    gap:4vw;
    align-items:center;
}

.nav-titles a
{
    text-decoration: none;
    color:white;
    font-size: 2.5vh;
    transition: 0.5ms;
    
    text-underline-offset: 7px;
}

.nav-titles a:hover
{
    text-decoration: underline;
}


#main-information
{
    /* Set Background Image */
    

    
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    /*Set the opacity of the background image*/
    opacity: 90%;
    /*Set the opacity of the background image*/
    height:85vh;
    /*Set the font color of all texts to white*/
    
    color: white;   
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.main-information-text
{
    
    padding-left: 10vw;
    max-width:40vw;
    max-height:100%;
}

.main-information-text b
{
    font-size: 10vh;
}

.main-information-text p
{
    font-size: 2.5vh;
}

.main-information-text a
{
    border: 3px solid #242424;
    background-color: transparent;
    text-decoration: none;
    height: 7vh;
    width: 10vw;
    color: white;
    font-size: 1.5vw;
    
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

.main-information-text a:hover
{
    cursor: pointer;
    background-color:#242424;
}

#main-content
{
    padding-top:10vh;
    color:white;
    background-color: #191919;

}

#about
{
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: 1fr 4fr auto 4fr 1fr;
    grid-template-rows: 20vh 50vh 50vh;
}

.history-text
{
    grid-area: 2 / 2 / 3 / 3;
}

.about-title
{
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
    font-size:7vh;
}   

.history-text h2
{
    font-size:5vh;
}

.history-img
{
    grid-area: 2 / 4 / 3 / 5; 
    max-width:100%;
    height:auto;
}

.structure-text
{
    grid-area: 3 / 4 / 4 / 5;
}

.structure-text h2
{
    font-size:5vh;
}

.structure-img
{
    grid-area: 3 / 2 / 4 / 3;
    max-width:100%;
    height:auto;
}



.mobile-scanner img
{
    max-width:100px;
    height:auto;
}


#planets
{
    overflow-x: hidden;
    display:none;
    flex-direction: column;
    max-width:100%;
    height:100vh;
}

#planet-brief
{
    transition-duration: 1s;
    transition-timing-function: ease-out;
    display: flex;
    gap:2vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#planets button
{
    animation: none;
    font-size:5vw;
    color:grey;
    background-color: transparent;
    border: none;
}

#planets button:hover
{
    cursor: pointer;
}

.previous
{
    align-self:center;
}

.next
{
    align-self:center;
}

#planet-information
{

    display:flex;
    flex-direction: column;
    text-wrap: nowrap;
}

.planet-selector
{
    display:flex;
    justify-content:center;
    gap:3vw;
    padding-bottom: 5vh;
    padding-top: 5vh;

}

.planet-selector h3
{
    border: 2px solid #333333;
    color: #333333;
    border-radius: 5px;
    font-size:1.5vw;
}

.planet-selector h3:hover
{
    cursor:pointer;
}

.mobile-planet-selector {
    display: none;

}

.planet-name
{
    font-size:4vw;
}

#planet-information p
{
    font-size:1vw;
}

.slidenxt-anim
{
    animation-duration:1s;
    animation-name: slide-next;
}

.slideprev-anim
{
    animation-duration:1s;
    animation-name: slide-prev;
}

.planet-img
{

    height:auto;
    max-width:30vw;
}

.additional-information
{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:3vh;
}

.additional-information b
{
    font-size:3vw;
}

.planet-additional-information
{
    font-size:1vw;
    max-width:60vw;

}




#games
{   
    display:none;
    flex-direction: column;
    gap:20vh;
}

#planet-creator
{
    display:flex;
    flex-direction: column;
    gap:0;
}

.create-planet
{
    display:flex;
    justify-content: center;
    align-self: center;
    height:12vw;
    gap:3vw;
    overflow: hidden;
}

.create-planet img
{
    max-width:36vw;
    height:auto;
}

.create-planet button
{
    font-size: 5vw;
    color: grey;
    background-color: transparent;
    border: none;
}

.create-planet button:hover
{
    cursor:pointer;
}

.new-planet-name
{
    font-size: 3vw;
    align-self: center;
    padding-top:5vh;
}


#asteroid-shooter
{
    display:flex;
    flex-direction: column;
    gap:3vh;

    
    /* 
    Make it full screen
    position:absolute;
    width:100%;
    height:100%;
    background-color:#191919; */
}

.asteroid-text
{
    display:flex;
    justify-content: center;
    gap:15vw;
    font-size: 1vw;
    float:left;
}

.asteroid-text h2{
    position:absolute;
    vertical-align: middle;
    text-align: center;
    line-height: 2vh;
}

.asteroid-game
{
    user-select: none;
    display:flex;
    height:80vh;
    align-items: center;
    flex-direction: column;
    gap:2vh;
}

.asteroid-game h2
{
    font-size:2vw;
}


.asteroid-game-background
{
    height:60vh;
    width:80vw;
    align-items: center;
    background-image: url("image/game-background.jpg");
    background-repeat: no-repeat;
}

.game-timer
{
    float:right;
}

.start-game-button
{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    /*Same width and height as background div*/
    width:80vw;
    height:60vh;

    /*Set the line height to the same as the background div height to center the text*/
    line-height: 60vh;

    font-size:2vw;
    color:aqua;
}

.start-game-button h2:hover
{
    cursor: pointer;
}

.asteroid
{
    user-select: none;
    display:none;
    max-width:5vw;
    height:auto;
}   

footer
{
    display:grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 20vh;
    background-color: black;
    color:white;
    align-items: center;
    padding-left: 50px;
}

footer a
{
    color:white;
}

footer ul 
{
    list-style:none;
}
.authorship-information
{
    grid-area: 1 / 1 / 2 / 2;
}

.contact-information
{
    grid-area: 1 / 2 / 2 / 3;
}

.mobile-scanner
{
    grid-area: 1 / 3 / 2 / 4;
}

#moons
{
    display:flex;
}

.end-screen
{
    display:none;
    position:relative;
    z-index:0;
    top:25%;
    font-size:2vw;
    color:cyan;
    text-align: center;
}

.retry-button:hover
{
    cursor:pointer;
}

#moons
{
    display: none;
    flex-direction: column;
    align-items: center;
    gap:5vh;
    height:150vh;
}

.planet-moons
{
    display:flex;
    flex-direction: column;
}

.moon
{
    display:inline-block;
    
}

.moon img
{
    max-width:100px;
    height:auto;
}

.moons-description
{
    max-width:60%;
}
.moon .moon-content
{
    display:grid;
    text-wrap: wrap;
    grid-template-columns: 15% 30% 15% auto;
}

.moons-video
{
    max-width:60vw;
    width:560;
    height:315;
    
}
.moon p
{
    font-size:1vw;
}





/*Media query for tablet screen*/
@media only screen and (max-width: 800px) 
{   
    
    footer {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 20vh;
        background-color: black;
        color: white;
        align-items: center;
        padding-left: 50px;
        font-size:2vw;
    }

    footer a {
        color: white;
    }

    footer ul {
        list-style: none;
    }

    .authorship-information {
        grid-area: 1 / 1 / 2 / 2;
    }

    .contact-information {
        grid-area: 1 / 2 / 2 / 3;
    }

    .mobile-scanner {
        display:none;
    }

    .nav-titles
    {
        display:flex;
        flex-direction:column;
        justify-content: center;
        transition: .3s ease;
        font-size:3rem;
        background-color: #14141c;
        height:100vh;
        width:100%;
        max-width:50vw;
        position:fixed;
        left: -50vw;
    }

    .nav-titles.active
    {
        left:0px;
    }

    .icon
    {
        height:100vw;
        font-size:2vw;
    }

    .icon img {
        max-width:20vw;
        height: auto;
        align-self: center;
    }

    .icon b {
        color: white;
        align-self: center;
        font-size: 3vw;
    }

    .main-information-text
    {
        max-width: 80vw;
    }
    .main-information-text b
    {
        font-size:10vw;
    }
    
    #about
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15vh 25vh 40vh 25vh auto;
        justify-items: center;
        text-align: center;
    }
    .about-title
    {
        grid-area:1 / 1 / 2 / 2;
    }
    .history-img
    {
        grid-area:2 / 1 / 3 / 2;
        max-height: 100%;
        max-width:80vw;
        width: auto;
    }
    .history-text
    {
        grid-area: 3 / 1 / 4 / 2;
        max-width: 70vw;
        font-size: 3vw;
    }
    .structure-img
    {
        grid-area: 4 / 1 / 5 / 2;
        max-height:100%;
        max-width: 80vw;
        width:auto;
    }
    .structure-text
    {
        grid-area: 5 / 1 / 6 / 2;
        max-width: 70vw;
        font-size:3vw;
    }
    .main-information-text a
    {
        height: 30vh;
        width: 30vw;
        font-size: 3.5vw;
    }

    .hamburger-menu
    {
        z-index: 2;
        height:50px;
        width:5vw;
        position:absolute;
        align-self:center;
        left:30px;
    }

    .hamburger-menu span
    {
        height:5px;
        width:100%;
        background-color:white;
        border-radius:25px;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        transition:.3s ease;
    }

    .hamburger-menu span:nth-child(1)
    {
        top:25%;
    }

    .hamburger-menu span:nth-child(3) {
        top: 75%;
    }

    .hamburger-menu.active span:nth-child(1)
    {
        top:50%;
        transform: translate(-50%, -50%) rotate(45deg)
    }

    .hamburger-menu.active span:nth-child(2)
    {
        opacity: 0;
    }
    
    .hamburger-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg)
    }
    
    #planet-brief
    {
        height:60vh;
        display:flex;
        flex-direction: column;
    }
    .planet-img
    {
        max-width: 50vw;
        height:auto;
    }
    #planet-information
    {
        text-align: center;
    }

    .mobile
    {
        display:flex;
        gap:10vw;
    }
    .desktop
    {
        display:none;
    }
    .mobile-planet-selector
    {
        display:flex;
        position: absolute;
        left:30px;
        gap:1vw;
        font-size:3vw;

    }

    .mobile-planet-selector h2 
    {
        align-self:center;
        transform: rotate(-90deg);
        transition:0.3s ease;
    }

    .mobile-planet-selector h2.active
    {
        transform: rotate(0deg);
    }
    
    .planet-selector
    {
        display:none;
        flex-direction: column;
        padding-left:30px; /*Same as planet selector*/
        position:absolute;
        gap:5px;
        opacity: 0%;
        transition:0.3s ease;
    }
    .planet-selector.active {
        display:flex;
        opacity: 100%;
    }
    .planet-selector h3
    {
        font-size:2vw;
    }
    #planet-information p
    {
        font-size:2.5vw;
    }
    .additional-information
    {
        color:black;
        display:flex;
        background-color:white;
        width:100vw;
        height:50vh;
        bottom: -500px;
        position:fixed;
        transition: 0.3s ease-in-out;
    }
    .additional-information p
    {
        font-size:3vw;
    }

    .additional-information.active
    {
        bottom:0px;
    }

    .additional-info-title
    {
        width:100%;
        background-color:grey;
    }
    
    .additional-info-title b
    {
        float:left;
    }

    .close-tab
    {
        top:20%;
        position:relative;
        float:right;
        
    }
    .read-more
    {
        border: 1px white dotted;
    }

    .moon p {
        font-size: 2vw;
    }
    #moon
    {
        height:auto;
    }
    #moons h2
    {
        font-size:3vw;
    }
    .moon img
    {
        max-width:10vw;
    }
    .moon-content
    {
    grid-template-columns: 15% 30% auto;    
    }
    
    .asteroid-text
    {
        font-size:2vw;
    }   

}





