:root {
    --nav-icon-size: 50px;
    --header-height: 75px;

    --background-color: #1b1b1b;
    --lime: #eaff3d;
    --yellow: rgb(236, 223, 31);
    --purple: #603bff;
    --red: #ff505e;
    --dark-red: #e9271b;
    --teal: #6af6cd;
    --cyan: #60e1bc;
    --coffee: #4E3822;
    --grey: #353432;
    --light-grey: #3d3938;
    --white: #E4DFDA;
    --pearl: #f2f2ec;
    --magenta: #b23073;
}

@font-face {
    font-family: BlitzMain;
    src: url(Fonts/BlitzMain.otf);
  }

@font-face {
    font-family: SpAlterna;
    src: url(Fonts/SpAlterna-Regular.otf)
}

@font-face {
    font-family: BlitzBold;
    src: url(Fonts/BlitzBold.otf)
}

* {
    font-family: BlitzMain;
    box-sizing: border-box;
    color: white;
    user-select: none;
}

header {
    position: absolute;
    top:0px;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--red);
    z-index: 100;
}

html {
    overflow-x: hidden; /* Hide horizontal scollbar */
}

body {
    width: 100vw;
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;

    min-height: 100vh;
    overflow-x: hidden; /* Hide horizontal scollbar */
}

.nav-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;

    height: 75px;
    z-index: 102;

}

.nav-icon {
    /* Center icon vertically in header */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: calc((var(--header-height) - var(--nav-icon-size)) * 0.5);

    height: var(--nav-icon-size);
    width: var(--nav-icon-size);

    /* Center icon contents */
    display: grid;
    place-content: center;
    
    /* Icon jiggle */
    border-radius: 40% 60% 70% 30%/40% 50% 60% 50%;
    animation: morph 4s linear 0s infinite alternate;
    
    background-color: var(--lime);
    color: var(--purple);
    z-index: 105;
}

#nav-toggle input
{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 107; /* and place it over the hamburger */
}

#nav-toggle span
{
  display: block;
  width: 25px;
  height: 5px;
  margin-bottom: 5px;
  
  background: var(--purple);
  box-shadow: 2px 2px white, -2px -2px white;
  z-index: 106;
  
  transform-origin: 2.5px 2.5px;
  
  transition: transform 0.5s cubic-bezier(0,1.76,.48,.75),
              opacity 0.55s  cubic-bezier(0,1.76,.48,.75);
}
/* Set all lines */
#nav-toggle input:checked ~ span {opacity: 1; transform: translate(3px, 3px) rotate(45deg);}
/* Hide middle line */
#nav-toggle input:checked ~ span:nth-last-child(2) {opacity: 0; transform: rotate(0deg) scale(0.2, 0.2);}
/* Rotate bottom line */
#nav-toggle input:checked ~ span:nth-last-child(1) {transform: translate(3px, -3px) rotate(-45deg);}

@keyframes morph {
    0% {border-radius: 40% 60% 70% 30%/40% 50% 60% 50%;}
    25% {border-radius: 30% 40% 60% 70%/50% 40% 50% 60%;}
    50% {border-radius: 70% 30% 40% 60%/60% 50% 40% 50%;}
    75% {border-radius: 60% 70% 30% 40%/50% 60% 50% 40%;}
}

.nav-corner-splat {
    /* Anchor to the top left*/
    position: absolute;
    top: 0px;
    left: 0px;

    width: 226px;
    height: 138px;
    z-index: 102;
    transform-origin: 0 0;
    transform: scale(1,1);
    transition: transform 1s cubic-bezier(.09,1.13,.41,1);
}

.page-top {
    /* Anchor to the top left*/
    position: absolute;
    top: 0px;
    left: 0vw;

    width: 100vw;
    height: var(--header-height);
    background-color: var(--red);
    background-image: linear-gradient(to bottom, rgba(0,0,255, 0.1), rgba(0,0,0,0));
    z-index: 100;
    margin:0px;

    text-align: center;
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Keep in one line*/

    box-shadow: 0px 2px black;
}

.page-top > p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1.8,1.8);

    margin:0px;
    padding-bottom: 5px;

    font-family: SpAlterna;
    font-size: 60px;
    color: var(--dark-red);

    z-index: 101;
    text-shadow: 1px 0px darkred;

    animation: sway 60s ease-in-out 0s infinite alternate;

    user-select: none;
}

@keyframes sway {
    25% {transform: translateX(10%) translateY(-50%) scale(1.8,1.8);}
    75% {transform: translateX(-10%) translateY(-50%) scale(1.8,1.8);}
}

.color-strip {
    position: absolute;
    left: 0vw;
    bottom: calc(75px * 0.5);

    width: 100vw;
    height: 75px;
    background-color: var(--teal);
    background-image: linear-gradient(to bottom, rgba(255, 153, 0, 0.1), rgba(0,0,0,0));
    z-index: 98;
    margin:0px;

    text-align: center;
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Keep in one line*/


    box-shadow: 0px 2px black;
}

.color-strip > p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)  scale(1.8,1.8);

    margin:0px;
    padding-bottom: 5px;

    font-family: SpAlterna;
    font-size: 60px;
    color: var(--cyan);

    z-index: 99;
    text-shadow: 
    4px 0px rgb(58, 158, 148);

    animation: sway 60s ease-in-out -30s infinite alternate;

    user-select: none;
}

header > .color-strip {
    position: absolute;
    top: calc(var(--header-height) * 0.5);

    transform-origin: 50% 50%;
    transform: rotate(-2deg);

    box-shadow:  0px 4px 4px black;
}

.background-grid {
    position: absolute;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 20px);
    grid-template-rows: repeat(auto-fill, 20px);
    background-color: black;

    overflow: hidden;
}

.background-grid > div{
    background-color: var(--lime);
    background: 
    radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,1)),
    radial-gradient(rgba(234, 255, 61,0.6), rgba(234, 255, 61, 0)); 
    width: 100%;
    height: 100%;

    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px black;

}

.background-grid > div > .background-grid-light {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0%;
    height: 0%;
    border-radius: 50%;

    /* background-color: var(--yellow); */
    box-shadow: 0px 0px 3px 3px rgba(234, 255, 61,0.6);

    animation: glow 50s linear 0s infinite alternate;
}

@keyframes glow {
    to {box-shadow: 0px 0px 0px 0px rgba(234, 255, 61,0.6);}
}

.background-grid-overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    background: 
    linear-gradient(rgba(2, 212, 176, 0.6), rgba(92, 212, 176, 0.6)),
    linear-gradient(to bottom, rgba(255, 136, 0, 1),rgba(255, 136, 0, 0));
}

/* Banner */
.banner {
    display: block;
    background-color: var(--white);
    width: 100vw;
    height: 75vmin;
    margin-top: var(--header-height);

    background-image: url(Images/Background.jpg);
    background-size: 100% 100%;
}

.banner-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    text-align: center;
    text-shadow: 1px 1px gray;
}

/* First div is flexed horizontally */
/* Second div is centered vertically */
/* Third div is positioned absolutely */
.banner-text > div > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.banner-text > div > div > div {
    position: relative;
}



.banner h1 {
    position: relative;

    padding: 0px;
    margin:0px;
    font-family: BlitzBold;
    font-size: 7vw;
    color: white;
    text-shadow: 
    0.33vmin 0.33vmin black, -0.16vmin -0.16vmin black,
    0.25vmin -0.25vmin black, -0.25vmin 0.25vmin black,

    -0.16vmin 0.42vmin var(--purple), -0.08vmin 0.5vmin var(--purple),
    0vmin 0.58vmin var(--purple), 0.08vmin 0.67vmin var(--purple),
    0.42vmin -0.16vmin var(--purple), 0.5vmin -0.08vmin var(--purple),
    0.58vmin 0vmin var(--purple), 0.67vmin 0.08vmin var(--purple),

    0.16vmin 0.67vmin var(--purple), 0.67vmin 0.16vmin var(--purple), 
    0.25vmin 0.67vmin var(--purple), 0.67vmin 0.25vmin var(--purple),
    0.33vmin 0.67vmin var(--purple), 0.67vmin 0.33vmin var(--purple), 
    0.42vmin 0.67vmin var(--purple), 0.67vmin 0.42vmin var(--purple), 
    0.5vmin 0.67vmin var(--purple), 0.67vmin 0.5vmin var(--purple), 
    0.58vmin 0.67vmin var(--purple), 0.67vmin 0.58vmin var(--purple),  

    0.67vmin 0.67vmin var(--purple), 
    
    0.25vmin 0.75vmin var(--lime), 0.42vmin 0.83vmin var(--lime),
    0.58vmin 0.92vmin var(--lime), 0.75vmin 1.16vmin var(--lime),
    0.75vmin 0.25vmin var(--lime), 0.83vmin 0.42vmin var(--lime),
    0.92vmin 0.58vmin var(--lime), 1vmin 0.75vmin var(--lime),

    0.92vmin 1vmin var(--lime), 1vmin 0.92vmin var(--lime), 
    
    1vmin 1vmin var(--lime);

}

.banner > .color-strip {
    top: 75vmin;
    background-color: var(--light-grey);
    transform: rotate(1deg) translateY(50%);

    background-image: linear-gradient(to bottom, rgba(215, 142, 255, 0.1), rgba(0, 0, 0, 0));
    box-shadow: 0px 2px black, 0px -2px black, 0px -0.5vmin 0.5vmin black;

    border-top: 15px solid var(--yellow);
    border-bottom: 15px solid var(--yellow);

    
}

.banner > .color-strip > p {
    color: var(--yellow);
    text-shadow: 1px 0px rgb(166, 155, 8), -2px 0px black, -4px 0px 5px black;
    animation: sway 60s ease-in-out -15s infinite alternate;
}


#banner-reset-button {
    position: absolute;
    top: calc(75vmin - 20px);
    right: 0px;

    transform: translateY(50%);
    height: 100px;
    min-width: 150px;
    width: 20%;
    z-index: 99;

    font-family: SpAlterna;
    font-size: 25px;
    text-shadow: 1px 0px rgb(166, 155, 8), -2px 0px black, -4px 0px 5px black;

    color: var(--white);
    background-color: var(--light-grey);

    border-radius: 50px 0% 0% 50px;
    border: 15px solid var(--yellow);

    background-image: linear-gradient(to bottom, rgba(215, 142, 255, 0.1), rgba(0, 0, 0, 0)), linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    box-shadow: 0px 2px black, 0px -2px black, -4px 4px 4px black;

    transition: 
    box-shadow 0.1s cubic-bezier(.68,1.35,.46,.37),
    transform 0.1s cubic-bezier(.68,1.35,.46,.37);
}

#banner-reset-button:active {
    box-shadow: 0px 0px black;
    transform: translateY(calc(50% + 4px));
}

#content-top-strip  {
    position: static;
    top: auto;
    bottom: auto;
    background-color: var(--pearl);
    transform: translateY(0%);

    background-image: none;
    box-shadow: 0px 0.5vmin 0.5vmin black;
    border: none;

    z-index: 97;    
}

#content-top-strip > p  {
    animation: sway 60s ease-in-out -45s infinite alternate;
    color: var(--magenta);  
    text-shadow: 
    -4px 0px 4px black; 
    font-size: 300px;
    z-index: 97;
}

#content-top-strip-overlay  {
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
    transform: translateY(0%);
    background-image: linear-gradient(to top, rgba(238, 255, 0, 0.1), rgba(0, 0, 0, 0));

    box-shadow: none;
    border: none;
    
    z-index: 98;    
}

#content-top-strip-overlay > p {
    background-image: linear-gradient(to bottom, rgba(238, 255, 0, 0.1), rgba(0, 0, 0, 0));
    animation: sway 60s ease-in-out -45s infinite alternate;
    color: var(--magenta);  
    text-shadow: 
    1px 1px var(--background-color), -1px -1px var(--background-color), 1px -1px var(--background-color), -1px 1px var(--background-color),
    4px 0px var(--white), -4px 0px var(--white), 0px -4px var(--white), 0px 4px var(--white);
    
    font-size: 60px;
}

.content-navbar {
    background-color: var(--grey);
    height: 75px;
    width: calc(100vw - 20px);

    border: 4px outset white;
    border-radius: calc(75px / 2);
    margin: 10px;
    margin-bottom: 0px;
    box-shadow: 2px 2px black, 4px 4px 4px black, 0px -25px var(--background-color);

    display: grid;
    grid-template-columns: 75px 1fr 75px;

    border: 2px outset white;
    text-align: center;

    place-content: center;
}

.page-icon-container {
    display: flex;
    place-content: center;
    text-align: center;
}

.page-icon-container > div {
    width: 100%;
    height: 100%;
    flex-basis: 75px;
    transition: flex-grow 1s cubic-bezier(0,1.07,.85,.99);
}

.content-navbar > div > button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.content-navbar > div > button > img {
    transform: scale(1,1);
    
    height: 55px;
    width: 55px;
    margin: 10px;

    transition: transform 0.1s cubic-bezier(.39,1.68,.55,.94);
}

.content-navbar > div > button:active > img {
    transform: scale(0.9,0.9);
}

.page-selector {
    margin: 10px;
    margin-top: 29px;
    margin-bottom: 27px;
    height: 19px;
    width: calc(100% - 20px);
    border-radius: calc(55px / 2);
    
    background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-color: #c2de1a;
    box-shadow: 2px 2px black;

    border: none;
    transition: transform 0.1s cubic-bezier(.39,1.68,.55,.94);

}

#page1 {
    flex-grow: 1;
    flex-basis: 40px;
}

#page2 {
    flex-basis: 40px;
}

#page3 {
    flex-basis: 40px;
}

#page4 {
    flex-basis: 40px;
}

.page-selector:active {
    transform: scale(0.9,0.9);
}

.content {
    position: relative;
    box-shadow: 0px -10px var(--background-color);
    overflow: hidden;
    z-index: 0;
}

.page-content {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    z-index: -10;
    display: block;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0)), radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5));
    background-color: gray;
    color: black;
    border-radius: 0px 0px calc(55px / 2) calc(55px / 2);
    width: calc(100% - 110px);
    min-height: 50vh;

    border: 4px outset black;

    text-align: center;
    transition: transform 1s;
}

.page-content p {
    color: black;

    margin: 10px;
    font-size: 18px;
}

.page-content > h1 {
    color: black;

    padding-top: 5px;
    margin:0px;

    font-family: BlitzBold;
    text-decoration: underline;
    text-decoration-color: #1b1b1b;
}

.page-content img {
    width: calc(100% - 20px);
    max-width: 800px;
    height: auto;
    margin: 10px;
    object-fit: contain;

    border-radius: 10px;
    border: 4px white inset;
    
}

.page-content .underline-overlay {
    position: absolute;
}

.active-page {
    position: relative;
    display: block;
    transform: translate(-50%, 0%);

    z-index: -5;
}

.footer {
    min-height: 50px;
    width: 100%;

    background-color: var(--light-grey);
}

.expanded {
    transform: scale(20,20);
}

@media only screen and (max-width: 800px) {
    .content-navbar{
        display: none;
    }   
    .page-content {
        margin: 0px;
        border-radius: 0px 0px 0px 0px;
        width: 100%;
        border: none;
    }

}

.nav-options {
    z-index: 120;
    display: none;
    width: 100vw;
}
.nav-option {
    z-index: 120;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light-grey);
    border-radius: 20px;
    border: 2px white outset;
    box-shadow: 2px 2px 2px white;
    text-shadow:
        0.33vmin 0.33vmin black, -0.16vmin -0.16vmin black,
        0.25vmin -0.25vmin black, -0.25vmin 0.25vmin black,
        -0.16vmin 0.42vmin var(--purple), -0.08vmin 0.5vmin var(--purple),
        0vmin 0.58vmin var(--purple), 0.08vmin 0.67vmin var(--purple),
        0.42vmin -0.16vmin var(--purple), 0.5vmin -0.08vmin var(--purple),
        0.58vmin 0vmin var(--purple), 0.67vmin 0.08vmin var(--purple),
        0.16vmin 0.67vmin var(--purple), 0.67vmin 0.16vmin var(--purple),
        0.25vmin 0.67vmin var(--purple), 0.67vmin 0.25vmin var(--purple),
        0.33vmin 0.67vmin var(--purple), 0.67vmin 0.33vmin var(--purple),
        0.42vmin 0.67vmin var(--purple), 0.67vmin 0.42vmin var(--purple),
        0.5vmin 0.67vmin var(--purple), 0.67vmin 0.5vmin var(--purple),
        0.58vmin 0.67vmin var(--purple), 0.67vmin 0.58vmin var(--purple),
        0.67vmin 0.67vmin var(--purple),
        0.25vmin 0.75vmin var(--lime), 0.42vmin 0.83vmin var(--lime),
        0.58vmin 0.92vmin var(--lime), 0.75vmin 1.16vmin var(--lime),
        0.75vmin 0.25vmin var(--lime), 0.83vmin 0.42vmin var(--lime),
        0.92vmin 0.58vmin var(--lime), 1vmin 0.75vmin var(--lime),
        0.92vmin 1vmin var(--lime), 1vmin 0.92vmin var(--lime),
        1vmin 1vmin var(--lime);
    cursor: pointer;
}
.shown {
    display: block;
}
.page-content .draggable-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 20px);
    max-width: 800px;
    aspect-ratio: 4 / 3;
    height: auto;
    border-radius: 10px;
    border: 4px rgb(203, 203, 203) inset;
    background-color: var(--background-color);
}
.page-content .draggable {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(203, 203, 203, 0.75);
    border: 4px var(--background-color) outset;
    border-radius: 50%;
    z-index: 10;
}
.page-content .draggable p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    color: white;
    text-shadow:
    0.33vmin 0.33vmin black, -0.16vmin -0.16vmin black,
    0.25vmin -0.25vmin black, -0.25vmin 0.25vmin black,
    -0.16vmin 0.42vmin var(--purple), -0.08vmin 0.5vmin var(--purple),
    0vmin 0.58vmin var(--purple), 0.08vmin 0.67vmin var(--purple),
    0.42vmin -0.16vmin var(--purple), 0.5vmin -0.08vmin var(--purple),
    0.58vmin 0vmin var(--purple), 0.67vmin 0.08vmin var(--purple),
    0.16vmin 0.67vmin var(--purple), 0.67vmin 0.16vmin var(--purple),
    0.25vmin 0.67vmin var(--purple), 0.67vmin 0.25vmin var(--purple),
    0.33vmin 0.67vmin var(--purple), 0.67vmin 0.33vmin var(--purple),
    0.42vmin 0.67vmin var(--purple), 0.67vmin 0.42vmin var(--purple),
    0.5vmin 0.67vmin var(--purple), 0.67vmin 0.5vmin var(--purple),
    0.58vmin 0.67vmin var(--purple), 0.67vmin 0.58vmin var(--purple),
    0.67vmin 0.67vmin var(--purple),
    0.25vmin 0.75vmin var(--lime), 0.42vmin 0.83vmin var(--lime),
    0.58vmin 0.92vmin var(--lime), 0.75vmin 1.16vmin var(--lime),
    0.75vmin 0.25vmin var(--lime), 0.83vmin 0.42vmin var(--lime),
    0.92vmin 0.58vmin var(--lime), 1vmin 0.75vmin var(--lime),
    0.92vmin 1vmin var(--lime), 1vmin 0.92vmin var(--lime),
    1vmin 1vmin var(--lime);
}
.seeker {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(234, 255, 61);
    border: 4px var(--background-color) outset;
    border-radius: 50%;
    z-index: 5;
}

  input {
    user-select: all;
    color: black;
  }

  form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 800px;
    background-color: var(--grey);
    padding-bottom: 10px;
    border: 4px rgb(203, 203, 203) outset;
    border-radius: 0px 0px 20px 20px;
  }

  .input-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5px;
  }

