/*Reset margin and padding for all elements and set font*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*set default background color and text color*/
body {
    background-color: black;
    color: white;
}
/* fill the screen, and aglin elements to the center and remove extra image*/
.background-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/*fill the screen size and add animation transitions*/
.BGimg {
    /*make it so that its position cant be affected by other elements*/
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    object-fit: cover;
    transition: opacity 0.6s ease-in-out;
}

.content {  
    position: relative;
    /*set content over bg image*/
    z-index: 1;
    /*make text centered in its box*/
    text-align: center;
}

.content h1 {
    /*adjust text size and make it responsive*/
    font-size: 15vw;
    font-weight: 600;
}

.content h1:hover {
    /*simple animation when hover*/
    color: rgba(56, 56, 56, 0.596);
}
/* button for fullscreen toggle */
#toggle-button {
    background-color: transparent;
    border: 2px solid white; /* White border */
    color: white; /* Text color */
    border-radius: 50px;
    padding: 10px 20px; 
    font-size: 16px; 
    outline: none; 
    transition: background-color 0.3s, border-color 0.3s; 
  }
  
  #toggle-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Slight white background on hover */
  }
  

/*nav bar settings*/
nav {
    /*fill the width of the screen*/
    width: 100%;
    background: rgba(0, 0, 0, 0.8);/*set bg color to black*/
    padding: 10px 20px; /*adjust pos*/
    position: fixed;/*stay at the top*/
    top: 0;/*set to the top*/
    left: 0;
    z-index: 100;/*set it above everything*/
    transition: top 0.3s;/*animation time*/
}

nav ul {
    /*remove dots*/
    list-style: none;
    display: flex;
    /*set position*/
    gap: 15px;
}
/*remove original button design, set text size and color and pos, add animation settings*/
nav ul li button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
}
/*change bg color to white when hover and text color to black, remove sharp edges*/
nav ul li button:hover {
    background: #fff;
    color: #000;
    border-radius: 5px;
}
/* menu icon for responsive*/
#hamIcon {
    /*dont display it until set*/
    display: none;
    /*remove design and set position and color*/
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    padding: 10px;
}
/*settings for all pages*/
.page {
    width: 100%;
    min-height: 100vh;
    /*flex design*/
    display: flex;
    /*center elements*/
    justify-content: center; 
    align-items: center;
}

.page h1{
    /*title settings for all pages*/
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 100px;
    color: white;
}


/*****PAGE 0********/
#page0 {
    background-color: rgb(236, 199, 140);
}
#page0 p {
    /*create margins on left and right for the paragraph*/
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    color: rgb(153, 50, 201);
}
#page0 p:nth-of-type(2) {
    padding-top: 2%;
    color: rgb(206, 23, 181);
}
#page0 p:nth-of-type(3) {
    padding-top: 2%;
    color: rgb(211, 23, 79);
    padding-bottom: 4%;
}
/*container for interactive image and text buttons*/
#interactive-Img {
    /*padding space for design*/
    padding: 5% 3%;
    /*grid design and settings for grid box*/
    display: grid;
    grid-template-columns: repeat(4, 1fr) 220px; /*same size for all columns */
    grid-template-rows: 20% 50% 30%;
    border: 1px solid red;  
    overflow: hidden; /* Ensure content that overflows is hidden */
    position: relative; 
    text-align: center;
}

#interactive-Img img {
    width: 100%; 
    height: auto; /* Maintain aspect ratio */
    grid-column: 1 / 5; /* Span across the first 4 columns */
    grid-row: 1 / 4; /* Span across three rows */
    object-fit: cover; /* Ensures the image covers the entire area */
}

.image-buttons {
    /*adjust button positions manually*/
    position: absolute;
    background-color: rgba(185, 8, 201, 0.7); /*button color*/
    color: white; /*text color white*/
    border: 1px solid #ccc; /*border color*/
    padding: 5px 10px; /*set spacing*/
    cursor: pointer; /*change cursor to a pointer when hovering over*/
    border-radius: 5px; /*remove sharp edge*/
}
/*buttons positions*/
#image-button-1 {
    top: 40%; /* Adjust the position as needed */
    left: 20%;
}

#image-button-2 {
    top: 50%;
    left: 55%;
}

#image-button-3 {
    top: 70%;
    left: 50%;
}

#image-button-4 {
    top: 70%;
    left: 40%;
}

/*interactive image title settings*/
#interactive-Img h2 {
    grid-column: 5 / 6; /* Span across the last column */
    grid-row: 1 / 2; /* Span across rows */
    border: 5px solid rgb(2, 2, 2);
    font-size: 250%;
}
/*interactive image para settings*/
#interactive-Img p {
    /*remove margins*/
    margin-left: 0%;
    margin-right: 0%;
    /*set to grid area*/
    grid-column: 5 / 6;
    grid-row: 2 / 4; 
    border: 4px solid rgb(0, 0, 0);
    border-top: #00000000; /*remove the top border as 2 borders combined looked ugly (too thick)*/
}
#back-top{
    display: none; /* Hidden */
    position: fixed; /*stay at the same place in the screen*/
    /* bottom right of the screen */
    bottom: 20px; 
    right: 20px; 
    /* place it over other things */
    z-index: 99; 
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #000; /* background color */
    color: white; /* Text color */
    padding: 15px; 
    border-radius: 10px; /* Roundcorners */
    font-size: 18px; 

}


/*******PAGE 1**********/
#page1 {
    background: rgb(190, 199, 138);
}

/*-----Content in Types of sushi page------*/
/* container that holds all the boxes*/
.container{
    position: relative;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    /*gap between the boxes*/
    gap: 2vw;
    /*if cant fit in screen, wrap below*/
    flex-wrap: wrap;
}
/* properties of the box itself*/
.container .box {
    position: relative; /* Positioning relative to the parent container */
    /* box size*/
    width: 230px;
    height: 230px;
    border-radius: 10px;
    display: flex;
    /* set items to center */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* animation time */
    transition: 0.5s;
   /* border: 5px solid rgb(69, 18, 197);*/
}

/*box that holds the image*/
.container .box .imgBox {
    position: absolute;
    /*remove other settins*/
    inset: 0;
    border-radius: 12px;
    /*border: 4px solid rgba(255, 0, 0, 0.812);*/
}
/* properties of image*/
.container .box .imgBox img{
    /*set start of image to top left*/
    top: 0;
    left: 0;
    width: 100%;
    /* fit the whole box */
    object-fit: cover;
    border-radius: 15px;
    transition: 0.6s;
    /*border: 5px solid rgb(42, 204, 42);*/
}
/*animation of image*/
.container .box:hover .imgBox img{
    opacity: 0.5;
}

/*box that contains the text*/
.container .box .glass{
    position: absolute;
    inset: 0;
    /* box and border settings to make it look like a glass */
    background: linear-gradient(rgb(94, 92, 92), transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    /* initial rotatation as 0 */
    transform: scale(0) rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* animatin time */
    transition: transform 0.8s;

}
/*rotate the box when hover*/
.container .box:hover{
    transform: rotate(-15deg);
}
/* show the glass with text and animate it*/
.container .box:hover .glass{
    transform: scale(1) rotate(30deg);
}

/* properties of title text in the glass*/
.container .box .glass h3{    
    font-size: 2.0em;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    line-height: 0.8em; 
}
/*properties of sub text in the glass*/
.container .box .glass h3 span{

    line-height: 0em;
    font-weight: 300;
    font-size: 0.4em;
}

/*CSS FOR QUIZ*/
.quiz-Container{
    /* properties for box holding the quiz */
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    
}

.quiz-Container h1{
    /* title settings */
    font-size: 25px;
    font-weight: 600;
    color: black;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    /* settings for the questions text */
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.btn{
    /* settings for the options */
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
/* if questions already answered, dont display animations */
.btn:hover:not([disabled]){ 
    background : rgb(199, 176, 113);
    color: #fff;
}
/* button to go to next questions */
#next-btn{
    /* color settins and box settings for buttons to look better */
    background: rgb(199, 176, 113); 
    color: #fff;
    font-weight: 500;
    border: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
/* use js to control the color of the buttons */
.correct{
    background: rgb(122, 235, 122);
}
.incorrect{
    background: rgb(233, 113, 113); 
}


#qr-code {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#qr-code img {
    max-width: 80%;
}

/*******PAGE 2*********/
#page2 { 
    background: rgb(255, 140, 0);     
}
#page2 p {
    padding: 5% 3%;
    width: 80%;
    color: rgb(226, 238, 236);
    border: 5px solid rgb(60, 172, 20);
    border-radius: 15px;

    position: relative;
    margin: auto;
}

 /* put image and text in the center and display them as inline */
 .history-img{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 5%;
    padding-bottom: 5%;
 }
 .history-img img{
    margin: auto;
    border-radius: 10px;
 }
.gameArea{
    /* area for the fruit catching game */
    width: 500px; 
    height: 400px;
    background: rgb(39, 2, 26);
    border: 5px solid rgb(19, 247, 57);
    position: relative;
    margin: auto;
    display: flex;
    /* center elements */
    justify-content: center;
    align-items: center; 
}
.danger-line{
    /* end line */
    /* whole width of the gamearea */
    width: 100%;
    height: 15px;
    /* set position to the bottom. */
    position: absolute;
    bottom: 0;
    background-color: red;
}
.basket{
    /* basket to catch the fruits */
    width: 80px;
    height: 15px;
    background-color: blue;
    position: absolute;
    /* set it above the danger */
    bottom: 15px;
    /* center element */
    left: calc(50% - 25px);
    
}
.fruits {
    /* property for sushi (fruits) */
    width: 30px;
    height: 30px;
    /* image of the sushi */
    background-image: url("images/gamesushi1.png");
    /* assign to the top */
    position: absolute;
    top: 0;
}
/*set score to top left*/
.score{
    position: absolute;
    top: 0;
    left: 0;
}
.score h1{
    text-align: center;
    font-size: 30px;
    color: white;
}
/* properties for game buttons */
.gameButtons{
    margin: auto; /* Center horizontally */
    display: flex;
    /* set to center */
    justify-content: center;
    align-items: center;
    
}
.gameButtons button{
    /* change bg color, text pos and text color */
    margin-top: 5%;
    background: yellowgreen;
    width: 8rem;
    height: 4rem;
    font-size: 2rem;
    color: white;


    /*create spacing between the buttons*/
    margin-left:  2rem;
    margin-right:  2rem;
   
}
.gameButtons button:hover{
    /* buttons animations */
    margin-top: 5%;
    background: gold;
    color: white;
}
#page3 { background: blue; }

/* for responsive  */

@media screen and (max-width: 800px) {

    /* nav bar resposive website */
    nav ul {
        /* hide original bar */
        display: none;
        flex-direction: column;
        width: 100%;
    }
    nav ul.menuHide {
        display: flex;
    }
    /* display responsive menu */
    nav ul li {
        display: block;
        text-align: center;
        width: 100%;
    }
    /* display responsive menu icon*/
    #hamIcon {
        display: block;
    }


    /*****PAGE 1****/
    #interactive-Img {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-rows: auto; /* Adjust rows automatically */
    }
    #interactive-Img img {
        grid-column: 1 / 2; 
        grid-row: 1 / 2; 
    }
    #interactive-Img h2 {
        grid-column: 1 / 2; 
        grid-row: 2 / 3; 
        font-size: 200%;
    }
    #interactive-Img p {
        grid-column: 1 / 2; 
        grid-row: 3 / 4; 
        font-size: 100%;
    }
    .image-buttons {
        font-size: 12px; 
        padding: 3px 6px;
    }
    #image-button-1, #image-button-2, #image-button-3, #image-button-4 {
        top: auto; /* Reset top position */
        left: auto; /* Reset left position */
        bottom: 10%; /* Adjust bottom position */
        transform: translateX(-50%); /* Center buttons to the middle */
    }
    #image-button-1 {
        bottom: 70%;
        left: 30%;
    }
    #image-button-2 {
        bottom: 65%;
        left: 70%;
    }
    #image-button-3 {
        bottom: 50%;
        left: 70%;
    }
    #image-button-4 {
        bottom: 50%;
        left: 55%;
    }



    /*********FRUIT CATCHER*******/
    .gameArea {
        max-width: 100%;
        max-height: 80vh;
    }
    
    .basket {
        width: 60px;
        left: calc(50% - 30px);
    }

    .gameButtons button{
        /* change bg color, text pos and text color */
        margin-top: 3%;
        width: 5rem;
        height: 3rem;
        font-size: 2rem;    
        /*create spacing between the buttons*/
        margin-left:  1rem;
        margin-right:  1rem;
    }
    .quiz-Container img{
        max-width: 100%;

    }

    /* change layout of images to see them better  */
    .history-img{
        flex-wrap: wrap;
        padding-top: 5%;
        padding-bottom: 5%;
     }
     .history-img img{
        /* change size   */
        width: 50%;
        padding: 5px 5px;
    }
    /* change size of fullscrren toggle button  */
    #toggle-button {
        padding: 6px 12px; 
        font-size: 15px; 
    }

    /* set back to top button to top right of screen */
    #back-top {
        top: 20px;
        bottom: auto; 
        right: 20px; 
        /* put above the menu of overlap */
        z-index: 9999;
    }



}
