header {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ensures text is readable if the image has a dark background */
}

html {
    scroll-behavior: smooth;
}

img {
    height: auto;
}

header h1 {
    color: white;
}

.qrCode {
    position: absolute;
    top: 10px; /* Adjust position as needed */
    right: 10px; /* Adjust position as needed */
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
}

.qrCode img {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#background {
    background-image: url('images/HeaderBG.jpg');
    position: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#pagecontainer {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
}

.page {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}

infocaption {
    font-size: 15px;
    display: block;
    margin-left: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}

p {
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}


#page1 {
    display: block;
}

.flag-container {
    position: relative;
    left: 10px;
    width: 560px;
    /* Adjust width as needed */
    height: 390px;
    /* Adjust height as needed */
    margin-bottom: 30px;
}

.hidden-text {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Ensure the text is behind the image */
}

.korean-flag-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* Ensure the image is in front of the text */
    outline: 1px solid black;
    cursor: pointer;
}

.indo-flag-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* Ensure the image is in front of the text */
    outline: 1px solid black;
    cursor: pointer;
}

.moveAndFade {
    animation: moveAndFade 1.5s forwards;
}

.hidden-page1 {
    display: none;
}

@keyframes moveAndFade {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
        /* Move to the right by 100% of its width */
    }
}

#page2 {
    display: block;
}

.hidden-page2 {
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.in-view {
    transform: translateX(0);
    opacity: 1;
    padding-top: 250px;
    padding-bottom: 250px;
}

#page3 {
    display: block;
}

.win-text {
    color: #4CAF50;
    font-size: 2em;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    /* No height directly set */
    overflow: hidden;
    max-width: 80%;
    /* Responsive width */
    margin: auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    width: 100%;
    /* Full width of the container */
    height: 100%;
    /* Full height of the container */
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ensure 4 columns */
    gap: 10px; /* Adjust gap if needed */
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.card {
    width: 20vw; /* Adjust as needed */
    height: 20vw; /* Adjust as needed */
    max-width: 200px; /* Ensure the cards don't get too large */
    max-height: 200px; /* Ensure the cards don't get too large */
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}
.card.flipped .card-image {
    background-color: #fff;
}

.card-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: none;
}

.card.flipped img {
    display: block;
}


nav {
    background-color: rgba(0, 0, 0, 0.658);
    color: rgba(255, 255, 255, 0);
    padding: 10px 0;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    /* Use flexbox to arrange items */
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
    text-align: center;
}

#restartbtn {
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    background: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: 1px solid black;
    border-radius: 3px;
}

#restartbtn:hover {
    color: #ffffff;
    background: #ff0000;
    border-radius: 3px;
}

button {
    font-size: 25px;
}

#page1btn {
    color: rgb(255, 255, 255);
    background: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#page1btn:hover {
    color: #ffffff;
    background: #ff0000;
    border-radius: 3px;
}

#page2btn {
    color: rgb(255, 255, 255);
    background: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#page2btn:hover {
    color: #ffffff;
    background: #ff0000;
    border-radius: 3px;
}

#page3btn {
    color: rgb(255, 255, 255);
    background: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#page3btn:hover {
    color: #ffffff;
    background: #ff0000;
    border-radius: 3px;
}

#hamIcon {
    display: none;
}

.menuHide {
    display: block;
}

@media screen and (max-width:800px) {

    infocaption {
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }

    img {
        width: 80%;
        height: auto;
        max-width: 100%;
    }

    .video-container {
        max-width: 100%;
        /* Use full width on smaller screens */
    }

    #pagecontainer {
        margin: 0;
        padding: 0;
    }

    .flag-container {
        width: 80%;
        height: auto;
    }

    /*make a menu items vertical*/
    nav ul li {
        display: block;
        text-align: left;
        margin-top: 10px;
    }

    /* unhide menu icon */
    #hamIcon {
        display: block;
        margin-left: 5px;
        background-image: url('images/hamMenu.png');
        background-size: contain;
        background-position: center;
        width: 40px;
        height: 40px;
        border: none;
    }

    /*hide the menu item list*/
    nav ul {
        display: none;
    }
}