@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: rgb(211, 225, 255);
    min-height: 100vh;
    overflow-x: hidden;
}

header
{
    position: absolute;
    top:0;
    left : 0;
    width: 100%;
    display:flex;
    padding: 3vh 5vh;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}

.logo
{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
}

#fullscreen-button
{
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    
    padding: 1.5vh 3vh 1vh 3vh;
    border-radius: 2vh;
    text-decoration: none; 
    color: #fff;
    transition: background-color 0.3s ease;
    background-color: #021752; /* Background color for visibility */
    height: 100%; /* Ensure a elements take full height of li */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    text-align: center; /* Center text horizontally */
}

.parallax 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.parallax img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(50px); /* Adjust initial offset as needed */
}

#panda {
    position: absolute;
    overflow: visible;
}

#plant
{
    z-index: 1;
}

#text 
{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

/* nav */

nav 
{
    display:flex;
    background: #003329;
    min-height: 7vh;     
    align-items: flex-end;
    
}

nav ul 
{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 5vh;
    align-items: flex-end;
}

nav ul li a 
{
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    
    padding: 1.5vh 3vh 1vh 3vh;
    border-radius: 2vh 2vh 0 0;
    text-decoration: none; 
    color: #fff;
    transition: background-color 0.3s ease;
    background-color: #003329; /* Background color for visibility */
    height: 100%; /* Ensure a elements take full height of li */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    text-align: center; /* Center text horizontally */
}

/* Menu */

#hamIcon
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1.5vh 3vh 1vh 3vh;
    border-radius: 2vh 2vh 0 0;
    text-decoration: none; 
    color: #fff;
    transition: background-color 0.3s ease;
    background-color: #003329;
    height: 100%;
    box-sizing: border-box;
    text-align: center;

    font-size: 20px;
}

nav ul li a:hover, nav ul li a.active 
{
    height: 7vh;
}

#hamIcon
{
    display: none;
}

.menuHide
{
    display:block;
}

/* page */

#pagecontainer
{
    background: #003329;
}

.page
{
    position: relative;
    border-radius: 2vh;
    min-width: 40vh;
}

/* page 1 */

#page1 h2
{
    font-size: 3em;
    color: #d8fee4;
    margin-bottom: 10px;
}

#page1btn , #page1
{
    background-color: #1b857c;
}

/* 1st section */
.info
{
    padding: 5vh;

    display: flex;
    flex-direction: column;

    border-radius: 8px;

    font-weight: 500;
}

/* about */

.about 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3vh;
    row-gap: 3vh;
    border-radius: 8px;
}
 
.about img 
{
    width: 30vh;
    margin-right: 3vh;
    border-radius: 50%;
}
 
.about div
{
    flex: 1;
    color: rgb(144, 198, 144);

    background-color: #0c6860;
    padding: 20px;
    border-radius: 8px;
}

/* flex container */

.flex-container 
{
    background-color: #06534d;
    color: rgb(206, 240, 206);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.flex-container div
{
    display: flex;
    flex-direction: column;
}

.flex-container > div > h3
{
    color: rgb(22, 189, 111);
    font-size: 25px;
}

.flex-container img
{
    margin-right: 20px;
    width:30vh;
}

.flex-container .physical-characteristics,
.flex-container .red-panda-description
{
    flex: 1;
}

.flex-container .red-panda-description p:not(:last-child) 
{
    margin-bottom: 15px;
}
/* funfacts section */

.fun-facts 
{
    margin: 0 5vh 5vh 5vh;
    padding: 2vh 1vh;
    border-top: 3px solid rgb(2, 43, 41);
    border-bottom: 3px solid rgb(2, 43, 41);
    color: rgb(6, 58, 34);

}

.fun-facts ul 
{
    padding-left: 2vh;
}

.fun-facts ul li
{
    margin-bottom: 1.5vh;
    font-size: 20px;
    font-weight: 500;
}

/* Image Gallery */

.image-gallery {
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2); /* Center horizontally */
    margin-right: calc((100% - 100vw) / 2); /* Center horizontally */
}

.slide {
    transition: transform 1s ease, opacity 1s ease, filter 1s ease;
    flex: 0 0 20%;
    opacity: 0.5;
    transform: scale(0.8);
    filter: grayscale(50%);
    margin: 0 10px;
}

.slide.active {
    flex: 0 0 40%;
    opacity: 1;
    transform: scale(1);
    filter: grayscale(0%);
}

.slide img {
    width: 50vw;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.prev, .next {
    position: absolute;
    top: 50%; /* Center vertically */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.prev {
    left: 10px; /* Position from the left */
}

.next {
    right: 10px; /* Position from the right */
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

/* Video Section */
.video-section {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-section iframe 
{
    width: 80%;
    max-width: 60vh;
}

.no-border {
    border: none;
}

/* Page 2*/

#page2btn , #page2
{
    background-color: #0c6860;
}

.grid-container {
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    background-color: #42b4ab;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 35px;
    font-weight: 500;
}

/* Individual grid item styles */
.grid-container div 
{
    padding: 20px;
    border-radius: 8px;
    background-color: #8ce5de;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
#page2 h2,#page2 h3 
{
    color: #015413;
}

/* Paragraph styles */
#page2 p {
    font-size: 1rem; /* 16px */
    color: #466347; /* Paragraph text color */
    font-size: 16px;
}

/* Specific styling for the first item */
.taxo-info 
{
    grid-column:  1 / 3;
}

#page2 , #page3
{
    padding: 5vh;
}

/* page 3*/

#page3btn , #page3
{
    background-color: #074e48;
}

.behaviour-ecology
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    background-color: #42b4ab;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 35px;
    font-weight: 500;
}

.behaviour-ecology div
{
    background-color: #8ce5de;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.behaviour-ecology div h3
{
    color: #015413;
    font-size: 24px;
    margin-bottom: 10px;
}

.behaviour-ecology div p
{
    color: #466347; /* Paragraph text color */
    font-size: 16px;
}

.behaviour-ecology div p:not(:last-child) 
{
    margin-bottom: 15px;
}

.reproduction , .communication
{
    grid-column:  1 / 3;
}

/* Page 4 */

#page4btn , #page4
{
    background-color: #03443f;
}

#page4
{
    padding: 5vh;
}

.quiz
{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;

    background-color: #0c6860;
    height:auto;
    border-radius: 8px;
    padding: 20px;
    gap:20px;
}

.question
{
    background-color:#42b4ab;
    border-radius: 8px;
    padding: 20px;
    width:100%;
    color: #181b18;
}

.button 
{
    display: inline-flex; /* Use inline-flex to shrink-wrap the content */
    background-color:#31a097;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.answer {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px; 
    margin: 5px 0;
    font-weight: 500;
}

.answer:hover
{
    background-color:#31a097;
}

#retryBtn
{
    display: inline-flex;
    background-color:#31a097;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;

    font-weight: 500;
}

#results
{
    display: inline-flex; 

    background-color: #74d3cb;
    color: #262e26;

    padding:20px;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;

    width:100%;

    line-height: 35px;
    font-weight: 500;
}

#retryBtn , #results
{
    display: none;
}

/* foot */

footer 
{
    background: #003329;
    color: #fff;
    padding: 20px;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo img {
    border-radius: 50%;
    max-width: 100px; /* Adjust logo size as needed */
}

.footer-info,
.footer-social {
    flex: 1;
    margin: 0 20px;
}

.footer-info h3,
.footer-social h3 {
    margin-bottom: 10px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-social ul {
    list-style-type: none;
    padding: 0;
}

.footer-social ul li {
    display: inline;
}

.footer-social ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 800px) 
{
    nav
    {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        min-height: 0;  
    }

    nav ul
    {
        margin-left : 0;
    }

    nav ul li a
    {
        border-radius: 0;
        border: 5px rgb(8, 56, 58) solid;
    }

    /*make a menu items vertical*/

    #hamIcon
    {
        display: block;
        border-radius: 0;
    }

    /* unhide menu icon */

    nav ul
    {
        display:none;
    }

    /*hide the menu item list*/

    nav ul li a:hover, nav ul li a.active 
    {
        height: auto;
    }

    #text 
    {
        left: 3vh;
    }

    .page
    {
        border-radius: 0;
    }

    .about 
    {
        flex-direction: column;
        align-items: center;
    }
    
    .about img 
    {
        width: 30vh;
        height: auto;
        margin-right:0;
    }

    .about div
    {
        min-width: 0;
        width: 100%;
        margin: 0;
    }

    .grid-container , .behaviour-ecology
    {
        grid-template-columns: 1fr; /* One column */
    }

    .taxo-info, .reproduction , .communication 
    {
        grid-column:  1 / 2;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-info,
    .footer-social 
    {
        margin: 10px 0;
    }
}
