* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New';
    overflow-wrap: break-word;
    color:white;
}

body {
    background-image: url("images/storm.png"); /* Replace with your image path */
    background-attachment: fixed;
    background-size: cover; /* Ensure the image covers the entire area */
    background-repeat: no-repeat; /* Avoid repeating the image */
    background-position: center; /* Center the image */
}

.page {
    /*width: 100vw;*/
    height: 80vh;
    font-size: 14px;
    
    text-align:justify;
}

.page>p {
    width:100%;
}

nav ul li {
    display: inline;
}

#buttoncontainer {
    display: inline-block;
    /*position:absolute;*/
    background-color: rgba(50, 50, 50, 0.7);
    width: 100%;
    height: 300px;
    padding-top: 20px;

    image-rendering: pixelated;
    border-image-source: url('images/border.png'); /* Path to your image */
    border-image-slice: 7; 
    border-image-repeat: stretch; /* Stretches the edges */
    border-image-width: 40px;
}

.text {
    transition: border-image-width 0.3s ease;
    background-color: rgba(50, 50, 50, 0.7);
    
    padding-top: 20px;
    image-rendering: pixelated;
    border-image-source: url('images/border.png'); /* Path to your image */
    border-image-slice: 7; /*the amount of pixels to slice the image in each side*/
    border-image-repeat: stretch; /* Stretches the edges */
    border-image-width: 20px; /* width of border */
    width:100%;
}
.text > p, .text>h3, .text>h1 {
    padding-left: 3%;
    padding-right: 3%;
}

.text > h1, .text > h3 {
    text-align: center;
}

.text:hover {
    /*background-color: rgba(80, 80, 80, 0.7);*/
    border-image-width: 30px;
}

.textimagepair {
    display:flex;
    flex-wrap:wrap;
}

button {
    transition: border 0.1s linear;
    display: inline-block;
    /*    left: 50%;
    top: 50%;*/
    width: 70%;
    height: 60px;
    left: 15%;
    background-color: rgb(80, 80, 80);
    z-index: 1;
    font-size: 18px;
    border: 2px solid rgb(200, 200, 200);
}

button:hover {
    border: 8px solid rgb(200, 200, 200);
}

button:active {
    background-color: rgb(120, 120, 120);
}

#page1btn, #page2btn, #page3btn, #pagesbtn {
    
    position: absolute;
    
}



.topic {
    position: absolute;
    text-align: center;
    margin-top: 150px;
    width: 100%;
}

.imgwrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    position: relative;
    /*background-color:black;*/
}

.enlarged {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 1001;
    overflow:visible;
}

#titleimg {
    width: 100%;
    height: 100px;
    object-fit: contain; /* Maintain aspect ratio */
    top: 0;
    left: 0;
    margin-bottom:25px;
}

.contentimg {
    
    width: 30vw;
    max-height: 30vh;
    object-fit: contain; /* Maintain aspect ratio */
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(1, 1, 1, 0);
    
}

.raingame {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
}

.raingame > .displayholder {
    display:flex;
    justify-content:center;
    width:100%;
}

.raingame > .displayholder > .display {
    background-color:lightskyblue;
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
    position:relative;
    overflow:hidden;
}

.raingame > .displayholder > .display > img {
    height: 100%;
    width: 100%;
    top: 41%;
    left: -35%;
    transform: scale(0.2);
    position: absolute;
}

.raindrop {
    background-color:gray;
    width:2%;
    height:2%;
    position:absolute;
    display:none;
}

.raingame > .buttonholder {
    display:flex;
    justify-content:center;
    width:50%;
    height: 5vh;
    padding-top:10%;
}
.raingame > .buttonholder > button {
    width:75%;
}

@media screen and (min-width: 801px) 
{
    .page{
        font-size:20px;
    }
    .textimagepair>.text {
        width:50%;
    }
    .textimagepair > .imgwrapper {
        width: 50%;
        float:left;
    }

    .raingame > .displayholder {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .raingame > .buttonholder {
        display: flex;
        justify-content: center;
        width: 20%;
        height: 5vh;
        padding-top: 10%;
    }

}