/* Base styles */
body {
    font-family: 'Edu Australia VIC WA NT Hand';
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    opacity: 0;
    margin: 0;
    width: 100%;
}

body.loaded {
    opacity: 1;
}

header,
nav,
footer {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
}

header {
    background-color: #1e1e1e;
    color: #beff89;
    border-bottom: 0.125em solid #74ff0383;
}

nav {
    background-color: #1e1e1e;
    border-bottom: 0.125em solid #74ff0383;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #beff89;
    padding: 0.5em 1em;
    border-radius: 0.3125em;

}

nav a:hover {
    background-color: #beff89;
    color: #121212;
}

button {
    background-color: #76ff03;
    color: #121212;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 0.3125em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ff9595;
    transform: translateY(-0.3125em);
}

main {
    position: relative;
    background-color: #1e1e1e;
    padding: 1em;
    border-radius: 0.3125em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 100%;
}

img {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5%;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3);
}

footer {
    margin-top: 2em;
    padding: 1em;
    background-color: #1e1e1e;
    color: #74ff0383;
    width: 100%;
}

.page {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
}

.page.active {
    display: block;
    opacity: 1;
}

/* Animation when switching pages */
.page.fade-enter {
    display: block;
}

.page.fade-enter-active {
    opacity: 1;
}

/* Timeline Styles */
.timeline-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 1.25em;
    height: 50vh;
    overflow-y: scroll;
    border: 0.125em solid #74ff0383;
    border-radius: 0.3125em;
    background-color: #1e1e1e;
}

.timeline {
    position: relative;
    width: 100%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 0.375em;
    background-color: #74ff0383;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.1875em;
}

.timeline-item {
    padding: 0.625em 2.5em;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
}

.timeline-item::after {
    content: ' ';
    position: absolute;
    width: 1.5625em;
    height: 1.5625em;
    border: 0.25em solid #beff89;
    top: 0.9375em;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-item:nth-child(odd)::after {
    right: -1.0625em;
}

.timeline-item:nth-child(even)::after {
    left: -1.0625em;
}

.timeline-date {
    padding: 0.625em;
    background: #beff89;
    color: #121212;
    position: absolute;
    top: 1em;
    width: 100%;
    max-width: 6.25em;
    text-align: center;
    border-radius: 0.375em;
    z-index: 1;
}

.timeline-item:nth-child(odd) .timeline-date {
    left: calc(100% + 2em);
}

.timeline-item:nth-child(even) .timeline-date {
    right: calc(100% + 2em);
}

.timeline-content {
    padding: 1.25em 1.875em;
    background: #1e1e1e;
    position: relative;
    border-radius: 0.375em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

/* Specific page layout */
#page1extra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: "image video" "text video";
    gap: 1.25em;
    justify-content: center;
    align-items: start;
    margin-top: 5%;
}

#page1extra text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page1extra img {
    width: 90%;
    height: auto;
    max-height: 100%;
}

#page1extra p {
    grid-area: text;
}

.video-frame {
    width: 45vw;
    height: 100%;
    border: none;
    border-radius: 1em;
}

/* DIY Carbonara styles */
#ingredients {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.25em;
}

#ingredients img {
    width: 5em;
    height: auto;
    cursor: pointer;
}

#plate {
    margin-top: 1.25em;
}

#dropzone {
    width: 100%;
    height: 12.5em;
    border: 0.125em dashed #76ff03;
    position: relative;
}

#trashicon {
    width: 2.5em;
    height: auto;
    margin-top: 5%;
}

#instruction {
    display: none;
}

/* Hamburger icon styles */
#hamIcon {
    display: none;
}

/* Legend styles */
#legend {
    position: relative;
    background-color: #1e1e1e;
    padding: 0.625em;
    border-radius: 0.3125em;
    border: 0.125em solid #76ff03;
    color: #e0e0e0;
    font-size: 0.9em;
}

#legend h3 {
    margin: 0 0 0.625em 0;
}

.correct-answer {
    color: #155724;
    font-weight: bold;
}

.incorrect-answer {
    color: #721c24;
    font-weight: bold;
}

.unanswered-question {
    color: #856404;
    font-weight: bold;
}

/* Quiz Styles */
#quiz {
    margin-top: 1.25em;
}

.quiz-question {
    margin-bottom: 1.25em;
}

.quiz-question p {
    margin-bottom: 0.625em;
}

.quiz-question label {
    display: block;
    margin-bottom: 0.625em;
    padding: 0.625em;
    background-color: #1e1e1e;
    border-radius: 0.3125em;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.quiz-question input[type="radio"] {
    display: none;
}

.quiz-question input[type="radio"]:checked+label {
    background-color: yellow;
    color: #121212;
}

#quiz-result {
    margin-top: 1.25em;
    font-size: 1.2em;
    font-weight: bold;
}

/* Style for the submit button */
button {
    background-color: #76ff03;
    color: #121212;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 0.3125em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ff9595;
    transform: translateY(-0.3125em);
}

/* Recipe and Pairings styling */
.recipe-container,
.pairings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25em;
    margin-top: 1.25em;
}

.ingredients,
.instructions,
.drinks,
.sides {
    background-color: #1e1e1e;
    padding: 1em;
    border-radius: 0.3125em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    flex: 1 1 45%;
    max-width: 45%;
    box-sizing: border-box;
}

.ingredients ul,
.drinks ul,
.sides ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ingredients li,
.drinks li,
.sides li {
    display: flex;
    align-items: center;
    margin-bottom: 0.625em;
    width: 100%;
}

.drinks li strong,
.sides li strong {
    color: #76ff03;
    white-space: nowrap;
    margin-right: 1%;
}

.ingredients img {
    margin-right: 0.625em;
}

.instructions {
    flex: 1 1 100%;
    max-width: 100%;
}

.instructions p {
    margin: 0.625em 0;
}

h3 {
    color: #beff89;
    margin-bottom: 0.625em;
}

/* Style for Catch the Ingredients Game*/
#gameCanvas {
    display: block;
    width: 100%;
    height: auto;
}

#startGameButton {
    display: block;
    margin-left: 1em;
}

#mobileControls {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}

#mobileControls button {
    background-color: #76ff03;
    color: #121212;
    border: none;
    padding: 1em;
    font-size: 2em;
    border-radius: 50%;
}

.qr-code {
    width: 100px;
    height: 100px;
}

#page6btn {
    display: none;
}

/* Media query for screens 800px and below */
@media screen and (max-width: 800px) {
    nav ul {
        flex-direction: column;
        display: none;
    }

    nav ul li {
        display: block;
        margin: 0.5em 0;
    }

    #hamIcon {
        display: block;
    }

    nav ul.menuHide {
        display: flex;
    }

    header,
    nav,
    footer {
        color: #ff9595;
        border-bottom: 0.125em solid #ff9595;
    }

    nav a {
        color: #ff9595;
    }

    nav a:hover {
        background-color: #ff9595;
        color: #121212;
    }

    #hamIcon {
        background-color: #ff9595;
    }

    #legend {
        border-color: #ff9595;
    }

    #legend h3 {
        color: #ff9595;
    }

    .timeline-container {
        border-color: #ff9595;
        color: #ff9595;
    }

    .timeline-item {
        border-bottom-color: #ff9595;
    }

    .timeline-content h3 {
        color: white;
    }

    .timeline-content p,
    .timeline-item::before {
        color: #ff9595;
    }

    #page1extra {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25em;
        margin-top: 1.25em;
        width: 100%;
        box-sizing: border-box;
    }

    #page1extra img {
        width: 90%;
        height: auto;
        border-radius: 0.3125em;
    }

    .video-frame {
        width: 90%;
        height: 50vh;
        border-radius: 0.3125em;
    }

    #page1extra p {
        text-align: center;
        margin: 0.625em 0;
    }

    #instructions {
        border: 0.125em solid #ff9595;
    }

    .timeline-container {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .timeline::after {
        display: none;
    }

    .timeline-item {
        width: 100%;
        padding-left: 2em;
        left: 0 !important;
        padding-bottom: 1.5em;
    }

    .timeline-item::after {
        content: '';
        position: absolute;
        width: 0.375em;
        height: 100%;
        background-color: #ff9595;
        left: 0;
        top: 0;
    }

    .timeline-item::after {
        left: 0.75em !important;
        transform: translateX(0);
    }

    .timeline-date {
        position: relative;
        left: 1.5em;
        top: 0.5em;
        margin: 0;
        width: auto;
        text-align: left;
    }

    .timeline-item:nth-child(odd) .timeline-date {
        left: 1.5em !important;
    }

    .timeline-content {
        margin: -1em 0 0 2em;
    }

    .pairings-container,
    .recipe-container {
        flex-direction: column;
        align-items: center;
    }

    .drinks,
    .sides,
    .ingredients,
    .instructions {
        max-width: 100%;
        flex: 1 1 100%;
    }

    .qr-code,
    .qrScan {
        display: none;
    }

    #page5btn {
        display: none;
    }

    #page6btn {
        display: block;
    }
}