body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; 
    color: white; 
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Game container styling */
#gameContainer {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 90vh;
    max-height: 600px;
    border: 2px solid #000;
    background-color: #3b3838;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#gameCanvas {
    width: 100%;
    height: calc(100% - 50px);
    background-color: #3b3838;
}

#score {
    font-size: 24px;
    color: #fff;
    margin: 10px 0;
    text-align: center;
}

header {
    text-align: center;
    background-image: url('img/Background.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh; /* Adjusted viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.header-content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    border-radius: 10px;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

.qr-code {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-left: 20px; /* Space between the heading and the QR code */
    display: inline-block;
    vertical-align: middle;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#main-container {
    padding-bottom: 20px; /* Add padding at the bottom to ensure the full content box is visible */
}

.main-section {
    display: none; /* Hide all main sections by default */
    padding: 0 10px; /* Add padding to prevent overflow */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.intro {
    background-color: #7b5eff; /* Updated color */
    color: white;
    padding: 20px;
    text-align: center;
}

.image-circles {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    padding: 40px 0;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    width: 100%; /* Ensure it takes full width of the parent container */
    max-width: 1200px; /* Ensure it doesn't exceed 1200px */
    margin: 0 auto; /* Center the container */
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Set a fixed width for consistent layout */
    margin-bottom: 20px; /* Add space at the bottom for wrap layout */
}

.circle-content {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 10px; /* Add space between circle and button */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.circle-content.show {
    opacity: 1;
}

.circle-content.hide {
    opacity: 0;
}

.circle-content img {
    width: 100%;
    height: auto;
}

.circle-container button {
    padding: 10px 20px;
    border: none;
    background-color: #7b5eff; /* Updated color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Add margin to the bottom of the button */
}

.circle-container button:hover {
    background-color: #5645bf;
}

#content-container {
    display: none;
    text-align: center;
}

#content-image {
    max-width: 200px;
    margin: 0 auto 20px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#content-image.show {
    opacity: 1;
}

#content-image.hide {
    opacity: 0;
}

.content-section, .new-content-section {
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding: 20px; 
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; 
    width: 100%; 
    max-width: 1200px; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; /* Transition effect */
    margin: 0 auto; /* Center the content */
    text-align: center; 
    box-sizing: border-box;
    border: 3px solid white; /* Add a white border */
}

.content-section.show, .new-content-section.show {
    display: block;
    opacity: 1;
}

.content-section.hide, .new-content-section.hide {
    opacity: 0;
}

#back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #7b5eff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Initially hidden */
}

#back-button:hover {
    background-color: #5645bf;
}

/*Video Related*/

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 80%; /* Adjust the max-width to make the video slightly smaller */
    margin: 0 auto; /* Center the video */
    background: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.flip-container {
    perspective: 1000px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto; /* Add margin between flip containers */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipper {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.flipper .front, .flipper .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 3px solid white;
    box-sizing: border-box;
}

.flipper .front {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.flipper .back {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    transform: rotateY(180deg);
}

.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInFromLeft 1s ease-out;
}

#calculator-section {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#nutrition-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure form takes the full width of the container */
}

#nutrition-form label,
#nutrition-form input,
#nutrition-form select,
#nutrition-form button {
    margin: 10px 0;
    width: 100%; /* Full width */
    max-width: 400px; /* Maximum width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#nutrition-result {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 100%; /* Ensure result takes the full width of the container */
    max-width: 400px; /* Maximum width */
    color: white;
    margin-left: auto;
    margin-right: auto;
}


/* Responsive design for Tablet and Mobile */
@media (max-width: 800px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
        margin-right: 0; 
    }

    header {
        height: 40vh; 
    }

    .header-content {
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    .image-circles {
        flex-direction: column;
    }

    .circle-container {
        width: 80%; 
    }

    .content-section, .new-content-section {
        width: 90%; 
        max-width: none; 
        margin-left: auto; 
    }

    .main-section {
        padding: 0 5px; /* Added padding to prevent overflow */
    }
}
