/* Globals */
/* Fonts */
@font-face {
  font-family: "Cinzel";
  src: url(Fonts/Cinzel-VariableFont_wght.ttf);
}

/* Animations */
@keyframes fade_anim {
  from {opacity: 0.2} to {opacity: 1}
}

audio {
  display: none;
}

body, html {
  height: 100%;
  padding: 0;
  overflow-x: hidden;

  /* Temp */
  font-family: "Cinzel", serif;
  background-color: black;
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;

  /* Font sizes */
  --fs_h1_xl: 3.5rem;
  --fs_h1: 2.5rem;

  --fs_h2: 1.9rem;
  --fs_h2_xl: 2.4rem;

  --fs_p: 1.05rem;
  --fs_p_xl: 1.3rem;
}

a{
  text-decoration: none;
}

h1 {
  color: white;
  font-size: var(--fs_h1);
  font-weight: 600;
}
h1 span {
  color: goldenrod;
  font-size: var(--fs_h1_xl);
  font-weight: 600;
}

h2 {
  color: white;
  font-size: var(--fs_h2);
  font-weight: 500;
}
h2 span {
  color: white;
  font-size: var(--fs_h2_xl);
  font-weight: 500;
}

p {
  color: white;
  font-size: var(--fs_p);
  font-weight: 200;
}
p span {
  color: goldenrod;
  font-size: var(--fs_p_xl);
  font-weight: 200;
}

.btn {
  text-decoration: none;
  font-size: var(--fs_h2);
}

img {
  display: block;
  width: 100%;
}

.external_link {
  color: goldenrod;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}
.external_link:hover {
  color: rgb(152, 117, 28);
}

/* Document elements */
/* Nav links */
.nav_links {
  max-width: 100%;
  margin: auto;
  padding-left: 8%;
  padding-top: 1.5%;
  padding-bottom: 1%;
  position: absolute;
  overflow-x: hidden;
  z-index: 1;
}

.nav_links ul {
  max-width: 100%;
  display: flex;
  list-style: none;
}

.nav_links li {
  display: inline-flex;
  margin: 0 3rem;
}

.nav_links a {
  position: relative;
  color: white;
  cursor: pointer;

  transition: all 0.2s;
}

/* Nav link animations */
.nav_links a:hover, .nav_link_active a {
  color: goldenrod;
  padding-bottom: 0.5rem;
}
.nav_links a::before, .nav_link_active a::before {
  content: "";
  position: absolute;
  height: 5%;
  width: 0%;
  bottom: 0%;
  left: 0%;
  background-color: goldenrod;
  
  transition: all 0.2s;
}
.nav_links a:hover::before, .nav_link_active a::before {
  width: 100%;
}

/* Title slides */
.large_title_screen {
  height: 100%;
  width: 100%;
  position: relative;
}
.title_slide {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  display: none;

  animation-name: fade_anim;
  animation-duration: 2s;
}
#title_slide_1 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25)), url(Images/start_slide1.jpg);
}
#title_slide_2 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(Images/start_slide2.jpg);
}
#title_slide_3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(Images/start_slide3.jpg);
}

/* Slide text */
.title {
  padding-top: 13%;
  padding-left: 8%;
  max-width: 50%;
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.title_slide .btn {
  text-align: center;
  margin-top: 4%;
  color: rgb(152, 152, 152);
  padding: 0rem 2rem;
  width: fit-content;

  border: 2px rgb(152, 152, 152);
  border-style: double;
  border-radius: 15px;
  border-top-width: 0;
  border-bottom-width: 0;
  transition: all 0.2s;
}

.title_slide .btn:hover {
  color: goldenrod;
  border-color: goldenrod;
}

/* Next & previous buttons */
.prev_slide_button, .next_slide_button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-size: 4rem;
  z-index: 1;

  transition: all 0.2s;
}
.prev_slide_button:hover, .next_slide_button:hover {
  color: goldenrod;
  transform: scale(0.7);
}
.prev_slide_button {
  left: 2%;
}
.next_slide_button {
  right: 2%;
}

/* Sections */
.content_section p a {
  font-size: var(--fs_p_xl);
  color: goldenrod;
}
.section_title {
  max-width: 100%;
  background-color: rgb(29, 29, 29);
}
.section_title h1,
.section_title p {
  visibility: hidden;
  opacity: 0;
  transform: translateY(4rem);
  transition: all 1s;
}
.section_title.animate h1,
.section_title.animate p {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.section_title h1 {
  padding-top: 2%;
  text-align: center;
  white-space: nowrap;
}
.section_title p {
  padding: 2% 7%;
  text-align: center;
  transition-delay: 0.2s;
}
.main_content {
  margin: 5%;
  position: relative;
}
.main_content .sub_content {
  text-align: center;
  padding: 2% 20%;

  visibility: hidden;
  opacity: 0;
  transition: all 2s;
}
.main_content .sub_content.animate {
  visibility: visible;
  opacity: 1;
}
.main_content .sub_content h2 {
  padding-bottom: 1%;
}

/************************************************************************/

/* Introduction */
/* Cards */
.introduction_section .main_content {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  align-items: center;
  margin: auto;
}
.introduction_section .main_content img {
  object-fit: contain;
  position: relative;
  display: block;
  margin: auto;
  max-width: 70%;
  border-radius: 25px;
  border-width: 6px;
  border: goldenrod 5px solid;
}
.introduction_section .main_content .container {
  position: relative;
  padding: 2.5rem;
  perspective: 1000px;
  cursor: pointer;
}
.introduction_section .main_content .card {
  position: relative;
  max-width: 60%;
  margin: auto;
  transition: all 1s;
  transform-style: preserve-3d;
  transform: rotateY(15deg);
}
.introduction_section .main_content .card .front,
.introduction_section .main_content .card .back {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(21, 21, 21);
  border: goldenrod 7px double;
  border-radius: 30px;
  padding: 10% 0;
  text-align: center;
  backface-visibility: hidden;
}
.introduction_section .main_content .card.animate.card.card_hover {
  transform: rotateY(195deg) scale(0.9);
}
 .introduction_section .main_content .card.animate {
  transform: rotateY(165deg);
 }
 .introduction_section .main_content .card2 {
  transition-delay: 0.2s;
 }
 .introduction_section .main_content .card3 {
  transition-delay: 0.4s;
 }
.introduction_section .main_content .card .front h2 {
  font-size: var(--fs_h1_xl);
  padding-top: 50%;
  color: rgb(159, 121, 25);
}
.introduction_section .main_content .card h2 { 
  padding: 1rem;
  color: goldenrod;
}
.introduction_section .main_content .card p {
  padding: 0 12.5%;
}
.introduction_section .main_content .card .front {
  position: absolute;
}
.introduction_section .main_content .card .back {
  transform: rotateY(180deg);
}

/* History content */
.history_content .main_content {
  position: relative;
}
/* Time periods */
.history_section .time_periods {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem 0;
  text-align: center;
  cursor: pointer;
}
.history_section .time_periods h2 span {
  color: goldenrod;
}
.history_section .time_periods h2 {
  padding: 5%;
}
.history_section .time_period_display h2,
.history_section .time_period_display p {
  transition: all 0.3s;
}
.history_section .time_period_display:hover h2,
.history_section .time_period_display:hover p,
.history_section .time_period_display.selected h2,
.history_section .time_period_display.selected p {
  color: goldenrod;
}
.history_section .time_periods .time_period_display {
  visibility: hidden;
  opacity: 0;
  transform: translateY(4rem);
  transition: all 1s;
}
.history_section .time_periods .time_period_display.animate {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.history_section .time_periods #time_period_2 {
  transition-delay: 0.2s;
}
.history_section .time_periods #time_period_3 {
  transition-delay: 0.4s;
}
.history_section .time_periods #time_period_4 {
  transition-delay: 0.6s;
}
.history_section .time_periods #time_period_5 {
  transition-delay: 0.8s;
}
.history_section .prev_display_button,
.history_section .next_display_button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-size: 4rem;
  z-index: 1;
  display: none;
}
.history_section #period_desc {
  overflow: hidden;
}
.history_section #period_desc h2 {
  color: goldenrod;
}

/* Interactive piano */
.interactive_piano {
  padding: 1%;
  margin: 2% auto;
  max-width: 45%;
  border-radius: 15px;
  background-color: rgb(29, 29, 29);
  text-align: center;
}
/* Piano options */
.interactive_piano .options {
  padding: 1%;
  width: 100%;
}
.interactive_piano .options span {
  color: white;
  margin: 5%;
}
.interactive_piano .options .volume_slider {
  accent-color: white;
  display: inline-flex;
  padding: 0 5%;  
  width: 45%;
}
.interactive_piano .options .show_keys {
  accent-color: black;
  display: inline-flex;
  padding: 0 5%;
  width: 45%;
}
/* Keys */
.interactive_piano .keys {
  list-style: none;
  display: flex;
  height: 20rem;
  cursor: pointer;
}
.interactive_piano .white { 
  background-color: white;
  border: 2px black solid;
  color: black;
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s;
}
.interactive_piano .black {
  background-color: black;
  color: white;
  width: 60%;
  height: 70%;
  margin: 0 -4% 0 -4%;
  z-index: 1; 
  border-radius: 0 0 10px 10px;
}
.interactive_piano #hidden_key { 
  visibility: hidden;
}
.interactive_piano .keys span {
  position: relative;
  text-align: center;
  top: 85%;
}
.interactive_piano .key.hide_piano_keys span {
  display: none;
}
.interactive_piano .white:hover {
  opacity: 0.8;
}

/* Piano key tool tips */
.piano_tooltips {
  text-align: center;
  padding-bottom: 5%;
}
.piano_tooltips h2 span {
  color: goldenrod;
}

/* Qr Code */
.qr_code_section img {
  margin: auto;
  max-width: 25%;
  padding-bottom: 5%;
}

/* Phone display */
@media screen and (max-width: 540px) {

  /* Font Sizes */
  *{
    --fs_h1_xl: 1.9rem;
    --fs_h1: 1.8rem;

    --fs_h2: 1.5rem;
    --fs_h2_xl: 1.6rem;

    --fs_p: 0.8rem;
    --fs_p_xl: 1rem;
  }

  /* Top */
  .nav_links {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
  .nav_links ul {
    display: block;
    width: 100%;
  }
  .nav_links li {
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    padding: 1rem 0;
  }
  .prev_slide_button, .next_slide_button {
    display: none;
  }
  .title {
    text-align: center;
    padding: 0 10%;
    padding-top: 50%;
    max-width: 100%;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .title_slide .btn {
    margin: 10% auto;
  }

  /* Middle */
  .main_content .sub_content {
    padding: 10% 5%;
  }
  .section_title p {
    padding: 2rem 2rem;
  }
  .section_title h1 {
    padding-top: 4%;
    text-align: center;
  }

  /* Cards section */
  .introduction_section .main_content {
    grid-template-columns: repeat(1, 1fr);
  }
  .introduction_section .main_content .card {
    max-width: 80%;
  }
  .introduction_section .main_content .card p {
    padding: 0 5%;
  }

  /* History section */
  .history_section .prev_display_button,
  .history_section .next_display_button {
    display: block;
    font-size: 2rem;
    top: 9.5rem;
  }
  .history_section .prev_display_button {
    left: 10%;
  }
  .history_section .next_display_button {
    right: 10%;
  }
  .history_section .time_periods {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .history_section .time_period_display {
    display: none;
  }
  .history_section .time_period_display.selected {
    display: block;
  }
  .history_section .time_period_display:hover h2,
  .history_section .time_period_display:hover p,
  .history_section .time_period_display.selected h2,
  .history_section .time_period_display.selected p {
    color: white;
  }

  /* Changes to interactive piano */
  .functionality_section .main_content {
    margin: 0%;
  }
  .interactive_piano {
    max-width: 100%;
  }
  .interactive_piano .keys {
    list-style: none;
    display: flex;
    height: 12.5rem;
  }
  .interactive_piano .keys span {
    display: none;
  }
  .interactive_piano .options .show_keys {
    display: none;
  }
  .interactive_piano .options .volume_slider {
    width: 100%;
  }
  .interactive_piano .white:hover {
    opacity: 1;
  }

  /* Remove QR code display */
  .qr_code_section {
    display: none;
  }
}