html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    height: 100%;
    background-color: rgb(38, 38, 38);
    font-family: 'Courier New';
}

#myCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: contain;
    position: absolute;
}

#whiteTransition {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 1.2s;
}

#screenSpace {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

#planetDisplayBar {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 10vw;
    height: 60vh;
    display: flex;
    transform: translate(-20vw, 0);
    transition: transform 0.2s;
}

    #planetDisplayBar ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style-type: none;
        height: 100%;
    }

        #planetDisplayBar ul li {
            border-bottom: 1px solid white;
            width: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            transform: translate(-10vw, 0);
            transition: transform 0.2s;
        }

            #planetDisplayBar ul li button {
                font-family: 'Courier New';
                background-color: transparent;
                border: none;
                cursor: pointer;
                overflow: hidden;
                outline: none;
                width: 100%;
                height: 100%;
                font-size: 1vw;
                color: white;
                transition: font-size 0.2s, text-decoration 0.2s, background-color 0.2s, transform 0.2s;
            }

                #planetDisplayBar ul li button:hover {
                    font-size: 2vw;
                    text-decoration: underline;
                }

#planetButtons {
    width: 20vw;
    height: 10vh;
    position: absolute;
    top: 1%;
    right: 0;
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -20vh);
    transition: transform 0s;
}

    #planetButtons ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

        #planetButtons ul li {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transform: translate(0, -15vh);
        }

            #planetButtons ul li button {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border: none;
                overflow: hidden;
                outline: none;
                margin: 0 5%;
                background-color: transparent;
            }

                #planetButtons ul li button img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }

#planetDescriptions, #planetSettings {
    width: 40vw;
    height: 100%;
    position: absolute;
    right: 0;
    transform: translate(40vw, 0);
    transition: transform;
}

#descTitleBar, #settingsTitleBar {
    width: 100%;
    min-height: 2vh;
    background-color: rgba(26, 212, 246, 0.40);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#planetName, #settingsTitle {
    flex: 0.8;
    font-size: 5vw;
    box-sizing: border-box;
}

#descTitleBar button, #settingsTitleBar button {
    flex: 0.2;
    max-height: 5vh;
}

#descBody, #settingsBody {
    width: 100%;
    height: calc(100% - 2vh); /* Adjust height to account for title bar */
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-bottom: 2vh; /* Add padding at the bottom to prevent text clipping */
}

#descBody, #settingsBody {
    scrollbar-width: thin;
    scrollbar-color: white transparent; /* Set scrollbar color */
}

.description {
    width: 100%;
    height: auto; /* Use auto height to fit content */
    margin-bottom: 20vh; /* Ensure sufficient margin at the bottom */
    display: none;
    opacity: 0%;
    transition: opacity 0.4s;
    padding-right: 1vw;
}

.startDesc {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

    .startDesc img {
        max-width: 60%;
        max-height: 100%;
        flex: 0.1 0.1 auto;
        margin-right: 10px;
    }

    .startDesc p {
        flex: 1;
        margin: 0;
        font-size: 1rem;
        color: white;
        margin-left: 2%;
        margin-right: 2%;
    }

.description .heading {
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    background-color: rgba(128, 128, 128, 0.6);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Hide any overflowing text */
}

    .description .heading h1 {
        color: lightgray;
        width: 100%;
        font-size: 3vw;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        overflow-wrap: break-word; /* Ensure text wraps within the element */
        padding: 0 1rem; /* Add some padding to ensure text stays within */
        box-sizing: border-box;
        white-space: nowrap; /* Prevent the text from wrapping */
    }

.description .bodyText {
    width: 100%;
    height: auto;
    margin-top: 2vh;
    background-color: rgba(38, 38, 38, 0.8);
    overflow-wrap: break-word;
}

    .description .bodyText p {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2vh;
        color: white;
        width: 100%;
        height: auto;
        font-size: 1vw;
        padding-bottom: 2vh; /* Ensure enough padding at the bottom */
        box-sizing: border-box;
    }

    .description .bodyText img {
        width: 100%;
        height: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }



.description .bodyGrid {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    width: 100%;
    column-gap: 1vw;
    row-gap: 2vh; /* Optional: Add space between rows */
}

    .description .bodyGrid .gridText {
        padding: 1vh 1vw;
        background-color: rgba(255, 255, 255, 0.8); /* Adjust as needed */
        overflow-wrap: break-word;
    }

        .description .bodyGrid .gridText p {
            text-align: center;
            margin: 0;
            color: black;
            font-size: 1vw;
            padding: 1vh 1vw; /* Adjust padding as needed */
        }


.newSettingsSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.2);
}

.newSettingsSection p {
    font-size: 1vw;
    text-align: center;
    color: white;
}

.scaleToInput {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 10vh;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    align-items: center;
    gap: 1vw;
    object-fit: contain;
}

.scaleToInput input {
    width: 100%;
    height: 100%;
}

.scaleToInput .rangeInput {
    flex: 0.8;
}

.scaleToInput .numericalInput {
    flex: 0.2;
}

.checkboxSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkboxInput {
    transform: scale(1.5); /* Adjust the scale as needed */
}

.checkboxSection label {
    font-size: 1.5rem; /* Adjust to match other text sizes */
    color: white;
}